h1{
	color: #3f3faf;
	background: linear-gradient(.25turn, white, 25%, #c44d4d);
}

li{
    color: orange;
    border-bottom: solid #6dc1ee;
}

p{
    color: white;
    text-shadow: 
    0 0 1em orange,
    0 0 0.2em orange;  
    border-bottom: thick double #6dc1ee;
}